{% extends "includes/componentes/listado.html" %}

{% load humanize %}

{% block columnas %}
    <tr>
        <th>Vehículo</th>
        <th>Dominio</th>
        <th>Presupuesto</th>
        <th>Seguro</th>
        <th>Siniestro</th>
        <th>Monto</th>
        <th>Localidad</th>
        <th>Usuario</th>
        <th>Sucursal</th>
        <th>Acciones</th>
    </tr>
{% endblock columnas %}

{% block filas %}
    {% for aprobada in aprobadas %}
    <tr>

            <td>
                {% if aprobada.licitacion.vehiculo %}
                    {{ aprobada.licitacion.vehiculo|upper }}
                {% endif %}
            </td>

            <td>
                {% if aprobada.licitacion.dominio %}
                    {{ aprobada.licitacion.dominio|upper }}
                {% endif %}
            </td>

            <td>
                {% if aprobada.licitacion.numero_presupuesto %}
                    {{ aprobada.licitacion.numero_presupuesto }}
                {% endif %}
            </td>

            <td>
                {% if aprobada.licitacion.aseguradora %}
                    {{ aprobada.licitacion.aseguradora }}
                {% endif %}
            </td>
            
            <td>
                {% if aprobada.licitacion.numero_siniestro %}
                    {{ aprobada.licitacion.numero_siniestro }}
                {% endif %}
            </td>

            <td>
                {% if aprobada.licitacion.monto %}
                    $ {{ aprobada.licitacion.monto|floatformat:2|intcomma }}
                {% endif %}
            </td>

            <td>
                {% if aprobada.licitacion.datos_entrega.localidad %}
                    {{ aprobada.licitacion.datos_entrega.localidad }} - 
                    {{ aprobada.licitacion.datos_entrega.localidad.provincia }}
                {% endif %}
            </td>

            <td>
                {{ aprobada.licitacion.user.first_name }}
            </td>

            <td>
                {% if aprobada.licitacion.sucursal %}
                    {{ aprobada.licitacion.sucursal }}
                {% endif %}
            </td>

        <td class="project-actions text-right">
            <a class="btn btn-primary btn-sm" href={% url "seguros:detalle_aprobada" aprobada.id %}>
                <i class="fas fa-folder">
                </i>
                Ver
            </a>
            {% with first_group=request.user.groups.all|first %}
                {% if request.user == aprobada.licitacion.user or first_group.name == 'GERENTE_GENERAL' or first_group.name == 'GERENTE_SUCURSAL' and request.user.perfil.sucursal == aprobada.licitacion.sucursal or first_group.name == 'SUPERVISOR' and request.user.perfil.sucursal == aprobada.licitacion.sucursal %}
                    <a class="btn btn-warning btn-sm" href={% url "seguros:editar_aprobada" aprobada.id %}>
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                {% endif %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
{% endblock filas %}