{% extends "includes/base/base.html" %}

{% load humanize %}

{% block contenido %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Bienvenido a Gestión de Licitaciones</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href={% url "seguros:listar_licitaciones" %}>Home</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <body class="hold-transition lockscreen" inmaintabuse="1" cz-shortcut-listen="true">

        <div class="lockscreen-wrapper">
            <h4><a href=""><b>"El talento gana juegos, pero el trabajo en equipo y la inteligencia ganan campeonatos."</b></a></h4>
        
          <div class="lockscreen-name">Michael Jordan</div>
        
        
        </div>
        
                
      </div></body>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock contenido %}