{% extends 'index.html' %}
{% load static %}
{% block titulo %}
SGL | Registro de Usuarios
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong class="card-title">Registro de Usuarios</strong>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <a href={% url 'listar_usuario' %} class='btn btn-danger'>Cancelar</a>
                    <button class='btn btn-primary' type='submit'>Registrar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}