{% extends "includes/base/base.html" %}

{% load humanize %}

{% block contenido %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ header_page }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href={% url "seguros:listar_licitaciones" %}>Home</a></li>
              <li class="breadcrumb-item active"><a href={{list_url}}>{{ header_page }}</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{card_title}}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" id="form">
              {% csrf_token %}
              
              {% if accion == 'agregar' %}
                <input type="hidden" name='datos_entrega' value=""/>
              {% else %}
                <input type="hidden" name='datos_entrega' value={{ form.datos_entrega.value }}>
              {% endif %}
              
              <input type="hidden" name='accion' value={{accion}}>
              <input type="hidden" name='user' value={{request.user.id}}>
              <input type="hidden" name='sucursal' value={{request.user.perfil.sucursal.id}}>
              <div class="card-header">
                <div class="row">

                  <!-- left column -->
                  <div class="col-md-4">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Presupuesto</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="inputPresupuesto">N° Presupuesto</label>
                              {{form.numero_presupuesto}}
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="inputMonto">Monto</label>
                              {{form.monto}}
                            </div>                          
                          </div>

                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="inputDemora">Demora</label>
                                {{form.demora}}
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="form-group">
                              <label for="inputCantidadArticulos">Artículos</label>
                              {{form.cantidad_articulos}}
                            </div>
                          </div>

                          <div class="col-lg-8">
                            <div class="form-group">
                              <label for="inputPerito">Costo Transporte</label>
                              {{ form.costo_transporte }}    
                            </div>
                          </div>
                        </div>    
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>

                  <!-- center column -->
                  <div class="col-md-4">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Seguro</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-xl-12">
                            <div class="form-group">
                              <label for="inputSiniestro">N° Siniestro</label>
                              {{form.numero_siniestro}}
                            </div>
                          </div>
                      
                          <div class="col-xl-6">
                            <div class="form-group">
                              <label for="inputAseguradora">Aseguradora</label>
                              {{form.aseguradora}}
                            </div>
                          </div>
                        
                          <div class="col-xl-6">
                            <div class="form-group">
                              <label for="inputPerito">Perito</label>
                              {{form.perito}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>

                  <!-- rigth column -->
                  <div class="col-md-4">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Vehículo</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="inputVehiculo">Vehículo</label>
                              {{form.vehiculo}}
                            </div>
                          </div>
                          
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="inputDominio">Dominio</label>
                              {{form.dominio}}
                            </div>
                          </div>
                        
                          <div class="col-xl-6">
                            <div class="form-group">
                              <label for="inputProvincia">Provincia</label>
                              {{form.provincia}}
                            </div>
                          </div>
                          
                          <div class="col-xl-6">
                            <div class="form-group">
                              <label for="inputLocalidad">Localidad</label>
                              {{form.localidad}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>

                    {% if accion == 'editar' %}
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Aprobado</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                            </button>
                          </div>
                          <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                  {{ form.terminado }}
                                  <label class="custom-control-label" for="customSwitch3">Aprobada</label>
                                  </div>
                              </div>
                            </div>
                          </div>      
                        </div>
                        <!-- /.card-body -->
                      </div>
                    {% endif %}


                  </div>

                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                  {% if accion == 'agregar' %}
                    Crear
                  {% else %}
                    Guardar Cambios
                  {% endif %}
                </button>
                <a href={{ list_url }} class="btn btn-info">Cancelar</a>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock contenido %}

{% block script %}
  <script type="application/javascript">
    
    $(function () {

      {% if form.errors %}
        let errors = '';
        {% for field in form %}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
          title: 'Error!',
          text: errors,
          icon: 'error'
        });
      {% endif %}

      $('form').on('submit', function (e) {
        e.preventDefault();
        let parameters = $(this).serializeArray();
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: parameters,
          dataType: 'json'
        }).done(function (data) {
          if (!data.hasOwnProperty('error')) {
            // Si no hay errores generales, redirigir
            location.href = '{{ list_url }}';
            return false;
          }
      
          // Si hay errores generales, mostrarlos
          alerta_error(data.error);

          // Si hay errores del formulario, mostrarlos también
          if (data.hasOwnProperty('form_errors')) {
            let formErrors = '';
            for (let error in data.form_errors) {
              formErrors += data.form_errors[error].join('\n');
            }
            Swal.fire({
              title: 'Error en el formulario',
              text: formErrors,
              icon: 'error'
            });
          }
        }).fail(function (jqXHR, textStatus, errorThrown) {
          alerta_error(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });
      });

      $('select[name="aseguradora"]').on('change', function () {
        let id = $(this).val();
        let select_peritos = $('select[name="perito"]');
        let opciones = '<option value="">---------</option>';
        if(id ===''){
          select_peritos.html(opciones);
          return false;
        }
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: {
            'accion': 'buscar_perito_id',
            'id': id
          },
          dataType: 'json',
        }).done(function (data) {
          if (!data.hasOwnProperty('error')) {
            $.each(data, function (key, value) {
              opciones+='<option value="'+value.id+'">'+value.nombre+'</option>';
            });
            // Actualizar las opciones del select
            select_peritos.html(opciones);
          } else {
            // Mostrar un mensaje de error si la llamada AJAX falla
            alerta_error(data.error);
          }
        }).fail(function (jqXHR, textStatus, errorThrown) {
          // Mostrar un mensaje de error si la llamada AJAX falla
          alerta_error(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });
      })

      $('select[name="provincia"]').on('change', function () {
        let id = $(this).val();
        let select_localidades = $('select[name="localidad"]');
        let opciones = '<option value="">---------</option>';
        if(id ===''){
          select_localidades.html(opciones);
          return false;
        }
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: {
            'accion': 'buscar_localidad_id',
            'id': id
          },
          dataType: 'json',
        }).done(function (data) {
          if (!data.hasOwnProperty('error')) {
            $.each(data, function (key, value) {
              opciones+='<option value="'+value.id+'">'+value.nombre+'</option>';
            });
            // Actualizar las opciones del select
            select_localidades.html(opciones);
          } else {
            // Mostrar un mensaje de error si la llamada AJAX falla
            alerta_error(data.error);
          }
        }).fail(function (jqXHR, textStatus, errorThrown) {
          alerta_error(textStatus + ': ' + errorThrown);
        }).always(function (data) {
          
        });
      })
    

      document.querySelector('[name="numero_presupuesto"]').addEventListener('change', function(event) {
        let numeroPresupuestoInput = event.target;
        let valor = numeroPresupuestoInput.value;

        if (!/^\d+$/.test(valor) || valor.length > 20) {
            alerta_error('Número de Presupuesto debe ser un número positivo de no más de 20 dígitos');
            numeroPresupuestoInput.value = '';
            numeroPresupuestoInput.focus();
        }
      });

      document.querySelector('[name="monto"]').addEventListener('change', function(event) {
        let montoInput = event.target;
        let valor = montoInput.value;

        // Expresión regular para validar el formato de monto con hasta 10 dígitos en la parte entera y 2 en la parte decimal
        let regex = /^\d{1,10}(\.\d{1,2})?$/;

        if (!regex.test(valor) || parseFloat(valor) <= 0) {
            alerta_error('Monto debe ser un número positivo con hasta 10 dígitos en la parte entera y 2 en la parte decimal');
            montoInput.value = '';
            montoInput.focus();
        }
      });

      document.querySelector('[name="cantidad_articulos"]').addEventListener('change', function(event) {
        let CantidadArticulosInput = event.target;
        let valor = CantidadArticulosInput.value;

        if (!/^\d+$/.test(valor) || valor.length > 4) {
            alerta_error('Cantidad Artículos debe ser un número positivo de no más de 4 dígitos');
            CantidadArticulosInput.value = '';
            CantidadArticulosInput.focus();
        }
      });

      document.querySelector('[name="costo_transporte"]').addEventListener('change', function(event) {
        let CostoTransporteInput = event.target;
        let valor = CostoTransporteInput.value;

        // Expresión regular para validar el formato de monto con hasta 10 dígitos en la parte entera y 2 en la parte decimal
        let regex = /^\d{1,10}(\.\d{1,2})?$/;

        if (!regex.test(valor) || parseFloat(valor) <= 0) {
            alerta_error('Costo Transporte debe ser un número positivo con hasta 10 dígitos en la parte entera y 2 en la parte decimal');
            CostoTransporteInput.value = '';
            CostoTransporteInput.focus();
        }
      });

      document.querySelector('[name="numero_siniestro"]').addEventListener('change', function(event) {
        let numeroSiniestroInput = event.target;
        let valor = numeroSiniestroInput.value;

        if (!/^\d+$/.test(valor) || valor.length > 20) {
            alerta_error('Número de Siniestro debe ser un número positivo de no más de 20 dígitos');
            numeroSiniestroInput.value = '';
            numeroSiniestroInput.focus();
        }
      });

      document.querySelector('[name="dominio"]').addEventListener('change', function(event) {
        let dominioInput = event.target;
        let valor = dominioInput.value;

        // Expresión regular para validar el formato del dominio
        let regex = /^(?:[a-zA-Z]{3}\d{3}|[a-zA-Z]{2}\d{3}[a-zA-Z]{2})$/;

        if (!regex.test(valor)) {
            alerta_error('Formato de dominio inválido. Debe tener la forma "abc123" o "ab123cd".');
            dominioInput.value = '';
            dominioInput.focus();
        } else {
          // Convertir letras a mayúsculas
          dominioInput.value = valor.toUpperCase();
        }
      });

      $(document).ready(function(){
        // Desactiva las flechas en todos los campos de número
        $('input[type="number"]').on('keydown', function(e) {
            if (e.which === 38 || e.which === 40) {
                e.preventDefault();
            }
        });
      });

    });
  </script>
{% endblock script %}