{% extends "includes/base/base.html" %}

{% load humanize %}

{% block contenido %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ header_page }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href={% url "seguros:listar_licitaciones" %}>Home</a></li>
              <li class="breadcrumb-item active"><a href={{list_url}}>{{ header_page }}</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{card_title}}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <h5><i class="icon fas fa-ban">Notificación</i></h5>
                        ¿Estás seguro de eliminar la Licitación N°: {{object.numero_siniestro}}
                    </div>
                </div>  
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Si, eliminar</button>
                <a href={{ list_url }} class="btn btn-info">Cancelar</a>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock contenido %}

{% block script %}
  <script type="application/javascript">
    $(function () {

      $('form').on('submit', function (e) {
        e.preventDefault();
        let parameters = $(this).serializeArray();
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: parameters,
          dataType: 'json'
        }).done(function (data) {
          if(!data.hasOwnProperty('error')) {
            location.href = '{{ list_url }}';
            return false;
          }
          alerta_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
          alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {
          
        });
      });
    });
  </script>
{% endblock script %}