{% extends 'base.html' %}
{% load static %}

{% block titulo %} Contestado {% endblock titulo %}
{% block css %} {% static 'paginas/contestado/css/contestados.css' %} {% endblock css %}

{% block contenido %}

    <section class="container">
        <section class='formulario'>
            <h2>Contestado</h2>
            <form action='registrarContestado/' method='POST' id="formulario">
                {% csrf_token %}
                <section class='form-group'>
                    {% comment %} <label for="licitacion">N° Licitación:</label> {% endcomment %}
                    <input type="number" id='licitacion' placeholder='Licitación' required />

                    {% comment %} <label for="sucursal">Sucursal:</label> {% endcomment %}
                    <select name='sucursales' id='sucursales'>
                        <option hidden selected>Sucursal</option>
                        <option value='CH'>Charata</option>
                        <option value='SP'>Saenz Peña</option>
                        <option value='RE'>Resistencia</option>
                    </select>
                    <input type="date" name='fecha_contestado' id="fecha_contestado" value="2023-01-01" min="2023-01-01" max="2025-12-31" />
                </section>

                <section class='form-group'>
                    {% comment %} <label for="aseguradora">Aseguradora:</label> {% endcomment %}
                    <input type="number" name='siniestro' placeholder='Siniestro' required />
                    <select name='aseguradoras'>
                        <option hidden selected>Aseguradora</option>
                        <option value='dc8f0e0de2854cd8ab1d4d86b5fac176'>Sancor</option>
                        <option value='dc8f0e0de2854cd8ab1d4d86b5fac176'>La Segunda</option>
                        <option value='dc8f0e0de2854cd8ab1d4d86b5fac176'>San Cristobal</option>
                    </select>
                    <select name='peritos'>
                        <option hidden selected>Perito</option>
                        <option value='4ed621d1a124429596f1864ff33600a6'>Perito 1</option>
                        <option value='4ed621d1a124429596f1864ff33600a6'>Perito 2</option>
                        <option value='4ed621d1a124429596f1864ff33600a6'>Perito 3</option>
                    </select>
                </section>

                <section class='form-group'>
                    <input type="text" name='dominio' placeholder='Dominio' required />
                    <select name='vehiculos'>
                        <option hidden selected>Vehículo</option>
                        <option value='HIL'>Hilux</option>
                        <option value='COR'>Corolla</option>
                        <option value='ETI'>Etios</option>
                    </select>
                    <select name='demoras'>
                        <option hidden selected>Demora</option>
                        <option value='01-05'>1-5</option>
                        <option value='06-10'>6-10</option>
                        <option value='11-15'>11-15</option>
                        <option value='16-12'>16-20</option>
                    </select>
                </section>

                <section class='form-group'>
                    <input type="number" name='presupuesto' placeholder='Presupuesto' required />
                    <input type="number" name='articulos' placeholder='N° Artículos' required />
                    <input type="number" name='monto' placeholder='Monto' step="any" required />
                </section>

                <section class='form-group'>
                    <select name='provincias'>
                        <option hidden selected>Provincia</option>
                        <option value='Provincia 1'>Provincia 1</option>
                        <option value='Provincia 2'>Provincia 2</option>
                        <option value='Provincia 3'>Provincia 3</option>
                    </select>
                    <select name='localidades'>
                        <option hidden selected>Localidad</option>
                        <option value='5dd3c2fa39f9429fa408554ccdfc330f'>Pueblo 1</option>
                        <option value='5dd3c2fa39f9429fa408554ccdfc330f'>Pueblo 2</option>
                        <option value='5dd3c2fa39f9429fa408554ccdfc330f'>Pueblo 3</option>
                    </select>
                    <input type="number" name='transporte' placeholder='Transporte' step="any" required />
                </section>

                <section class='form-group'>
                    <label for="activo">Activo:</label>
                    <input type="checkbox" id="activo" name="activo" checked />
                    <label for="aprobado">Aprobado:</label>
                    <input type="checkbox" id="aprobado" name="aprobado" />
                </section>

                <!-- Agrega los campos restantes de manera similar -->
                <section class='form-group'>
                    <button type="reset" id='limpiar'>Limpiar</button>
                    <button type="submit" id='guardar'>Guardar</button>
                </section>
            </form>
        </section>
        <section class='listado'>
            <h2>Listado</h2>
            <section class='listado-contestados'>
                <table>
                    <thead>
                        <tr>
                            <th>Siniestro</th>
                            <th>Dominio</th>
                            <th>Aseguradora</th>
                            <th>Usuario</th>
                            <th>Presupuesto</th>
                            <th colspan='2'>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contestado in object_list %}

                            <tr>
                                <td>{{ contestado.numero_siniestro }}</td>
                                <td>{{ contestado.dominio }}</td>
                                <td>{{ contestado.id_aseguradora }}</td>
                                <td>{{ contestado.id_sucursal }}</td>
                                <td>{{ contestado.numero_presupuesto }}</td>
                                <td><a href= {% url 'editarContestado' id=contestado.id %} >Editar</a></td>
                                <td><a href= {% url 'eliminarContestado' id=contestado.id %} >Eliminar</a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>
    </section>
{% endblock contenido %}