{% extends 'base.html' %}
{% load static %}

{% block titulo %} Contestado {% endblock titulo %}
{% block css %} {% static 'paginas/contestado/css/contestados.css' %} {% endblock css %}

{% block contenido %}

    <section class="container">
        <section class='formulario'>
            <h2>Contestado</h2>
            <form action='#' id="formulario">
                <section class='form-group'>
                    {% comment %} <label for="licitacion">N° Licitación:</label> {% endcomment %}
                    <input type="number" placeholder='Licitación' required />

                    {% comment %} <label for="sucursal">Sucursal:</label> {% endcomment %}
                    <select name='sucursales'>
                        <option hidden selected>Sucursal</option>
                        <option value='Charata'>Charata</option>
                        <option value='Saenz Peña'>Saenz Peña</option>
                        <option value='Resistencia'>Resistencia</option>
                    </select>
                    <input type="date" id="fecha_contestado" value="2023-01-01" min="2023-01-01" max="2025-12-31" />
                </section>

                <section class='form-group'>
                    {% comment %} <label for="aseguradora">Aseguradora:</label> {% endcomment %}
                    <input type="number" placeholder='Siniestro' required />
                    <select name='aseguradoras'>
                        <option hidden selected>Aseguradora</option>
                        <option value='Sancor'>Sancor</option>
                        <option value='La Segunda'>La Segunda</option>
                        <option value='San Cristobal'>San Cristobal</option>
                    </select>
                    <select name='peritos'>
                        <option hidden selected>Perito</option>
                        <option value='Perito 1'>Perito 1</option>
                        <option value='Perito 2'>Perito 2</option>
                        <option value='Perito 3'>Perito 3</option>
                    </select>
                </section>

                <section class='form-group'>
                    <input type="text" placeholder='Dominio' required />
                    <select name='vehiculos'>
                        <option hidden selected>Vehículo</option>
                        <option value='hilux'>Hilux</option>
                        <option value='corolla'>Corolla</option>
                        <option value='etios'>Etios</option>
                    </select>
                    <select name='demoras'>
                        <option hidden selected>Demora</option>
                        <option value='1-5'>1-5</option>
                        <option value='6-10'>6-10</option>
                        <option value='11-15'>11-15</option>
                    </select>
                </section>

                <section class='form-group'>
                    <input type="number" placeholder='Presupuesto' required />
                    <input type="number" placeholder='N° Artículos' required />
                    <input type="number" placeholder='Monto' step="any" required />
                </section>

                <section class='form-group'>
                    <select name='provincias'>
                        <option hidden selected>Provincia</option>
                        <option value='Provincia 1'>Provincia 1</option>
                        <option value='Provincia 2'>Provincia 2</option>
                        <option value='Provincia 3'>Provincia 3</option>
                    </select>
                    <select name='localidades'>
                        <option hidden selected>Localidad</option>
                        <option value='Pueblo 1'>Pueblo 1</option>
                        <option value='Pueblo 2'>Pueblo 2</option>
                        <option value='Pueblo 3'>Pueblo 3</option>
                    </select>
                    <input type="number" placeholder='Transporte' step="any" required />
                </section>

                <section class='form-group'>
                    <label for="activo">Activo:</label>
                    <input type="checkbox" id="activo" name="activo" checked />
                    <label for="activo">Aprobado:</label>
                    <input type="checkbox" id="aprobado" name="aprobado" />
                </section>

                <!-- Agrega los campos restantes de manera similar -->
                <section class='form-group'>
                    <button type="reset">Limpiar</button>
                    <button type="submit">Guardar</button>
                </section>
            </form>
        </section>
        <section class='listado'>
            <h2>Listado</h2>
            <section class='listado-contestados'>

            </section>
        </section>
    </section>

{% endblock contenido %}