<div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
        <div class='modal-header'>
            <h2 class='modal-title'>Edición Contestado -- Siniestro N° {{ object.numero_siniestro }}</h2>
            <button class='close' type='button' data-dismiss='modal' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'actualizar_contestado' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='modal-body'>
                <div id="erroresEdicion">
                
                </div>
                {{ form.as_p }}
            </div>
            <div class='modal-footer'>
                <button class='btn btn-danger' type='button' data-dismiss='modal'>Cancelar</button>
                <button class='btn btn-primary' type='submit'>Confirmar</button>
            </div>
        </form>
    </div>
</div>