.container {
    width: 100%;
    /* height: calc(100vh - 100px); */
    display: flex;
    justify-content: center;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.container .formulario {
    width: 40%;
    /* height: 650px; */
    margin: 5px 5px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}

.container .formulario .form-group {
    display: flex;
    padding: 10px 10px;
}

.container .formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
    align-items: center;
}

.container .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .formulario form input,
.container .formulario form button {
    width: 125px;
    border: none;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 50px;
}

.container .formulario form select {
    text-align-last: center;
    width: 125px;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 50px;
}

.container .formulario form input[type='number'] {
    width: 125px;
}

.container .formulario form input[type='reset'] {
    background-color: red;
}

.container .formulario form input[type='submit'] {
    background-color: green;
}

.container .formulario ::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
}

/* ESTILO LISTADO */

.container .listado {
    width: 100%;
    /* height: calc(100%- 50px); */
    margin: 5px 5px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}

.container .listado h2 {
    margin: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.container .listado .listado-contestados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.container .listado .listado-contestados table {
    width: 100%;
    border-collapse: collapse;
}

.container .listado .listado-contestados th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid whitesmoke;
}

.container .listado .listado-contestados th {
    color: whitesmoke;
    font-weight: bold;
}

.container .listado .listado-contestados tr:hover {
    background-color: whitesmoke;
    color: black
}