{% extends "includes/componentes/listado.html" %}

{% load static %}
{% load humanize %}

{% block columnas %}
    <tr>
        <th>Fecha Enviada</th>
        <th>Siniestro</th>
        <th>Localidad</th>
        <th>OC</th>
        <th>Factura</th>
        <th>Remito</th>
        <th>Usuario</th>
        <th>Sucursal</th>
        <th>Acciones</th>
    </tr>
{% endblock columnas %}

{% block filas %}
    {% for enviada in enviadas %}
    <tr>
            <td>
                {% if enviada.creado %}
                    {{ enviada.creado|date:'d/m/Y' }}
                {% endif %}
            </td>

            <td>
                {% if enviada.listaenviar.preparada.aprobada.licitacion.numero_siniestro %}
                    {{ enviada.listaenviar.preparada.aprobada.licitacion.numero_siniestro }}
                {% endif %}
            </td>

            <td>
                {% if enviada.listaenviar.preparada.aprobada.licitacion.datos_entrega.localidad %}
                    {{ enviada.listaenviar.preparada.aprobada.licitacion.datos_entrega.localidad }}
                {% endif %}
            </td>

            <td>
                {% if enviada.listaenviar.preparada.aprobada.numero_orden_compra %}
                    {{ enviada.listaenviar.preparada.aprobada.numero_orden_compra }}
                {% endif %}
            </td>

            <td>
                {% if enviada.factura %}
                    {{ enviada.factura }}
                {% endif %}
            </td>

            <td>
                <ul class="list-inline">
                    {% if enviada.remito %}
                        <li class="list-inline-item">
                            <a href={{enviada.remito.url}} download><img alt="remito" class="table-avatar" src={{enviada.remito.url}}></a>
                        </li>
                    {% endif %}
                </ul>
            </td>

            <td>
                {{ enviada.listaenviar.preparada.aprobada.licitacion.user.first_name }}
            </td>

            <td>
                {% if enviada.listaenviar.preparada.aprobada.licitacion.sucursal %}
                    {{ enviada.listaenviar.preparada.aprobada.licitacion.sucursal }}
                {% endif %}
            </td>

        <td class="project-actions text-right">
            <a class="btn btn-primary btn-sm" href={% url "seguros:detalle_enviada" enviada.id %}>
                <i class="fas fa-folder">
                </i>
                Ver
            </a>
            {% with first_group=request.user.groups.all|first %}
                {% if request.user == enviada.listaenviar.preparada.aprobada.licitacion.user or first_group.name == 'GERENTE_GENERAL' or first_group.name == 'GERENTE_SUCURSAL' and request.user.perfil.sucursal == enviada.listaenviar.preparada.aprobada.licitacion.sucursal or first_group.name == 'SUPERVISOR' and request.user.perfil.sucursal == enviada.listaenviar.preparada.aprobada.licitacion.sucursal %}
                <a class="btn btn-warning btn-sm" href={% url "seguros:editar_enviada" enviada.id %}>
                    <i class="fas fa-pencil-alt">
                    </i>
                    Editar
                </a>
                {% endif %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
{% endblock filas %}