{% extends 'index.html' %}
{% load static %}
{% block titulo %}
    SGL | Listado de Envíos
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}
    {% if listos %}
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Enviados</strong>
            </div>

            <div class="table-stats order-table ov-h">
                <table id="tabla_libros" class="table">
                    <thead>
                        <tr>
                            <th>Siniestro</th>
                            <th>Dominio</th>
                            <th>Aseguradora</th>
                            <th>Monto</th>
                            <th>Provincia</th>
                            <th>Localidad</th>
                            <th>Remito</th>
                            <th>Usuario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listo in listos %}
                        
                            <tr>
                                    <td>{{ listo.numero_siniestro }}</td>
                                    <td>{{ listo.dominio }}</td>
                                    <td>{{ listo.aseguradora.nombre }}</td>
                                    <td>{{ listo.monto }}</td>
                                    <td>{{ listo.provincia }}</td>
                                    <td>{{ listo.localidad }}</td>
                                    {% if listo.remito.url %}
                                        <td><a download='remito' href={{ listo.remito.url }}> <img src="{{ listo.remito.url }}" style="width:50px;height:50px"/></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/remito/no_imagen.jpg' %}" style="width:50px;height:50px"/></td>
                                    {% endif %}
                                    <td>{{ listo.usuario }}</td>
                                    <td>
                                        <button onclick = "abrir_modal_edicion('{% url 'actualizar_enviado' listo.id %}')" class='btn btn-primary'>Editar</button>
                                    </td>
                                </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h2>Aún no hay enviados en éste mes</h2>
    {% endif %}

    <div class='modal fade' id='edicion' role='dialog'>

    </div>

{% endblock body %}
{% block extrajs %}
    <script type="text/javascript">
        var $ = JQuery.noConflict();
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}