{% extends "includes/base/base.html" %}

{% load static %}

{% block head %}

{% endblock head %}

{% block contenido %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ header_page }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href={% url "seguros:listar_licitaciones" %}>Home</a></li>
              <li class="breadcrumb-item active">{{ header_page }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ card_title }}</h3>

          <div class="card-tools">
            <a class="btn btn-success btn-sm" href={{ list_url }}>
              <i class="fas fa-sync-alt"></i>
              Actualizar
            </a>  
            <a class="btn btn-info btn-sm" href={% url "seguros:crear_licitacion" %}>
                  <i class="fas fa-plus"></i>
                  Nueva Licitación
              </a>
            </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects" id="data">
              <thead>
                  {% block columnas %}
                  
                  {% endblock columnas %}
              </thead>
              <tbody>
                  {% block filas %}{% endblock filas %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
{% endblock contenido %}

{% block script %}

  <script type="application/javascript">
    $(function () {

      $('#data').DataTable({
        responsive: true,
        autoWidth: false,
        order: [[ 0, "desc" ]],
        language: {
          url: '{% static "adminlte/plugins/datatables/es-ES.json" %}',
        },
      });

    });
  </script>

  {% block scriptlistado %}
  {% endblock scriptlistado %}
{% endblock script %}