{% extends 'index.html' %}
{% load static %}
{% block titulo %}
SGL | Creación de Aprobados
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}
    <form method="POST">
    {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <strong>Formulario de Registro</strong>
            </div>
            <div class="card-body card-block">
                    {% for field in form %}
                        <div class="row form-group">
                            <div class="col col-md-3">{{ field.label }}</div>
                            <div class="col-12 col-md-9">{{ field }}</div>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href= {% url 'listar_aprobado' %} class='btn btn-danger'>Cancelar</a>
                    </div>
            </div>
        </div>
    </form>

{% endblock body %}
{% block extrajs %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/libro/libro.js' %}"></script>
{% endblock extrajs %}