{% extends 'base.html' %}
{% load static %}

{% block titulo %} Listo Para Enviar {% endblock titulo %}
{% block css %} {% static 'paginas/listo_enviar/css/listo_enviar.css' %} {% endblock css %}

{% block contenido %}

    <section class="container">
        <section class='formulario'>
            <h2>Listo Para Enviar</h2>
            <form id="formulario">

                <section class='form-group'>
                    {% comment %} <label for="fecha listo para enviar">Listo para Enviar:</label> {% endcomment %}
                    <input type="date" id="fecha_listo_para_enviar" value="2023-01-01" min="2023-01-01" max="2025-12-31" />

                    {% comment %} <label for="comentarios">Comentarios:</label> {% endcomment %}
                    <input type="text" id="comentarios" name="comentarios" placeholder='comentarios'/>
                </section>

                <!-- Agrega los campos restantes de manera similar -->
                <section class='form-group'>
                    <button type="reset" id='limpiar'>Limpiar</button>
                    <button type="submit" id='guardar'>Guardar</button>
                </section>
            </form>
        </section>
        <section class='listado'>
            <h2>Listado</h2>
            <section class='listado-contestados'>
                <table>
                    <thead>
                        <tr>
                            <th>Siniestro</th>
                            <th>Dominio</th>
                            <th>Aseguradora</th>
                            <th>Sucursal</th>
                            <th colspan='2'>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contestado in object_list %}

                            <tr>
                                <td>{{ contestado.numero_siniestro }}</td>
                                <td>{{ contestado.dominio }}</td>
                                <td>{{ contestado.id_aseguradora }}</td>
                                <td>{{ contestado.id_sucursal }}</td>
                                <td><a href= {% url 'editarContestado' id=contestado.id %} >Editar</a></td>
                                <td><a href= {% url 'eliminarContestado' id=contestado.id %} >Eliminar</a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>
    </section>

{% endblock contenido %}